# Python 缓存和编译文件
__pycache__/
*.py[cod]
*$py.class

# 虚拟环境和环境变量
venv/
env/
.env

# 忽略脚本生成的测试和模拟数据文件 (保持仓库轻量)
*.csv
!requirements.txt

# IDE 配置文件夹 (如 VSCode, PyCharm)
.vscode/
.idea/

# 操作系统生成文件
.DS_Store